<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445521068492-7i4ks39hhn4lcdsepg6qvhc34ddjatn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445521068492-7i4ks39hhn4lcdsepg6qvhc34ddjatn5</string>
	<key>API_KEY</key>
	<string>AIzaSyB0v9AGUxtC2oOlgtGKEbYy8ZUzmxu_3LM</string>
	<key>GCM_SENDER_ID</key>
	<string>445521068492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ulab.MedPlanners</string>
	<key>PROJECT_ID</key>
	<string>medplanners-60937</string>
	<key>STORAGE_BUCKET</key>
	<string>medplanners-60937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445521068492:ios:07216219697eff79</string>
	<key>DATABASE_URL</key>
	<string>https://medplanners-60937.firebaseio.com</string>
</dict>
</plist>